{% extends 'base.html' %}
{% block content %}

<style>
  
</style>
<div class="container">
  {% for i in item %}
  <form method="post" class="post-form" action="modeledit" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group row">
      <div class="col-md-10 col-lg-10 grid-margin stretch-card offset-lg-1" style="margin-top: 65px;" >
        <div class="card">
          <div class="card-body">
            <h1 class="card-title" style="font-size: 27px;">Edit Model</h1>
            <br /><br />


            <div class="form-group row">
              <label for="exampleInputUsername2" class="col-md-3 col-form-label" style="font-size: 20px;">Model Name</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="exampleInputUsername2" placeholder="modelname"
                  name="modelname" value="{{i.modelname}}" style="font-size: 20px;"/>
              </div>
            </div>



            <div class="form-group row">
              <label for="exampleInputEmail2" style="font-size: 20px;" class="col-md-3 col-form-label">Description</label>
              <div class="col-md-9">
                <textarea class="form-control" id="exampleTextarea1" rows="4" placeholder="description" style="font-size: 20px;"
                  name="description" >{{i.description}}</textarea>
              </div>
            </div>


            <div class="form-group row">
              <label for="" class="col-md-3 col-form-label" style="font-size: 20px;">Upload .gib model</label>
              <div class="col-md-9">
                <input type="file" name="gib" class="form-control" />
              </div>
            </div>



            <div class="form-group row">
              <label for="exampleInputPassword2" class="col-md-3 col-form-label" style="font-size: 20px;">Price</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="exampleInputPassword2" style="font-size: 20px;" placeholder="price" name="price" value="{{i.price}}" />
              </div>
            </div>



            <div class="form-group row">
              <label for="exampleInputConfirmPassword2" class="col-md-3 col-form-label" style="font-size: 20px;">Type</label>
              <div class="col-md-9">
                <input type="text" class="form-control w-100" id="exampleInputConfirmPassword2" placeholder="type" style="font-size: 20px;"
                  name="types" value="{{i.types}}" />
              </div>
            </div>


            <div class="form-group row">
              <div class="col-md-3">
                <label class="form-check-label" for="inlineRadio1" style="font-size: 20px;">Model Format</label>
              </div>
              <div class="form-check form-check-inline">
                <div class="col-md-4">
                  <input class="form-check-input" type="radio" name="format" id="inlineRadio2" value="option2" />
                </div>
                <label class="form-check-label" for="inlineRadio2" style="font-size: 20px;">.fbx</label>
              </div>
              <div class="form-check form-check-inline">
                <div class="col-md-4">
                  <input class="form-check-input" type="radio" name="format" id="inlineRadio3" value="option3" />
                </div>
                <label class="form-check-label" for="inlineRadio3" style="font-size: 20px;">.obj</label>
              </div>
              <div class="form-check form-check-inline">
                <div class="col-md-4">
                  <input class="form-check-input" type="radio" name="format" id="inlineRadio3" value="option3" />
                </div>
                <label class="form-check-label" for="inlineRadio3" style="font-size: 20px;">.3dx</label>
              </div>
            </div>





            <div class="form-group row">
              <div class="col-md-3">
                <label class="form-check-label" for="inlineRadio1" style="font-size: 20px;">Model Type</label>
              </div>
              <div class="form-check form-check-inline">
                <div class="col-md-3">
                  <input class="form-check-input" type="radio" name="modeltype" id="inlineRadio2" value="option2" />
                </div>
                <label class="form-check-label" for="inlineRadio2" style="font-size: 20px;">Free</label>
              </div>
              <div class="form-check form-check-inline">
                <div class="col-sm-3">
                  <input class="form-check-input" type="radio" name="modeltype" id="inlineRadio3" value="option3" />
                </div>
                <label class="form-check-label" for="inlineRadio3" style="font-size: 20px;">Paid</label>
              </div>
            </div>



            <div class="form-group row">



              <div class="col-md-3">
                <label class="form-check-label" for="inlineRadio2" style="font-size: 20px;">Category</label>
              </div>
              <div class="col-md-6">
                <select class="form-select w-100" id="inlineRadio2" aria-label="Default select example" name="category"
                  style="height: 40px;">
                  <option value="car">Car</option>
                  <option value="Bike">Bike</option>
                  <option value="bus">bus</option>
                  <option value="ship">ship</option>
                </select>
              </div>

            </div>




            <div class="form-group row">
              <label for="" class="col-sm-3 col-form-label" style="font-size: 20px;">Upload .fbx model</label>
              <div class="col-sm-6">
                <input type="file" name="fbx" class="form-control" />
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-3"></div>
              <div class="col-sm-6">
                <button type="submit" class="btn btn-primary  w-100">
                  Submit
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    
  </form>
  {% endfor %}
</div>
{% endblock %}