{% extends 'base.html' %}
{% block content %}
<div class="container">
  
  <form method="post" class="post-form" action="modeledit" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Edit Model</h4>
            <br /><br />


            <div class="form-group row">
              <label for="exampleInputUsername2" class="col-md-3 col-form-label">Model Name</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="exampleInputUsername2" placeholder="modelname"
                  name="modelname" />
              </div>
            </div>



            <div class="form-group row">
              <label for="exampleInputEmail2" class="col-md-3 col-form-label">Description</label>
              <div class="col-md-9">
                <textarea class="form-control" id="exampleTextarea1" rows="4" placeholder="description"
                  name="description"></textarea>
              </div>
            </div>


            <div class="form-group row">
              <label for="" class="col-md-3 col-form-label">Upload .gib model</label>
              <div class="col-md-9">
                <input type="file" name="gib" class="form-control" />
              </div>
            </div>



            <div class="form-group row">
              <label for="exampleInputPassword2" class="col-md-3 col-form-label">Price</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="exampleInputPassword2" placeholder="price" name="price" />
              </div>
            </div>



            <div class="form-group row">
              <label for="exampleInputConfirmPassword2" class="col-md-3 col-form-label">Type</label>
              <div class="col-md-9">
                <input type="text" class="form-control w-100" id="exampleInputConfirmPassword2" placeholder="type"
                  name="types" />
              </div>
            </div>


            <div class="form-group row">
              <div class="col-md-3">
                <label class="form-check-label" for="inlineRadio1">Model Format</label>
              </div>
              <div class="form-check form-check-inline">
                <div class="col-md-4">
                  <input class="form-check-input" type="radio" name="format" id="inlineRadio2" value="option2" />
                </div>
                <label class="form-check-label" for="inlineRadio2">.fbx</label>
              </div>
              <div class="form-check form-check-inline">
                <div class="col-md-4">
                  <input class="form-check-input" type="radio" name="format" id="inlineRadio3" value="option3" />
                </div>
                <label class="form-check-label" for="inlineRadio3">.obj</label>
              </div>
              <div class="form-check form-check-inline">
                <div class="col-md-4">
                  <input class="form-check-input" type="radio" name="format" id="inlineRadio3" value="option3" />
                </div>
                <label class="form-check-label" for="inlineRadio3">.3dx</label>
              </div>
            </div>





            <div class="form-group row">
              <div class="col-md-3">
                <label class="form-check-label" for="inlineRadio1">Model Type</label>
              </div>
              <div class="form-check form-check-inline">
                <div class="col-md-3">
                  <input class="form-check-input" type="radio" name="modeltype" id="inlineRadio2" value="option2" />
                </div>
                <label class="form-check-label" for="inlineRadio2">Free</label>
              </div>
              <div class="form-check form-check-inline">
                <div class="col-sm-3">
                  <input class="form-check-input" type="radio" name="modeltype" id="inlineRadio3" value="option3" />
                </div>
                <label class="form-check-label" for="inlineRadio3">Paid</label>
              </div>
            </div>



            <div class="form-group row">



              <div class="col-md-3">
                <label class="form-check-label" for="inlineRadio2">Category</label>
              </div>
              <div class="col-md-6">
                <select class="form-select w-100" id="inlineRadio2" aria-label="Default select example" name="category" style="height: 40px;">
                  <option selected>Car</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>

            </div>




            <div class="form-group row">
              <label for="" class="col-sm-3 col-form-label">Upload .fbx model</label>
              <div class="col-sm-6">
                <input type="file" name="fbx" class="form-control" />
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-3"></div>
              <div class="col-sm-6">
                <button type="submit" class="btn btn-primary  w-100">
                  Submit
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    {% endblock%}
  </form>
</div>